<!DOCTYPE html>
<html lang="en">

<head>

    <!-- load the head content from the head.html file -->
    {% include '_head.html' %}

    <!-- set the site title to be a variable, defined in the md file -->
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <div class="inner-wrapper">
            <h1><img id="logo" src="assets/css/images/Kaelidoscope.jpg" alt="KAELIDOSCOPE Logo">
            {{ title }}</h1>
            <a href="/">Home</a>
            <a href="#project1">Project 1</a>
            <a href="project2">Project 2</a>
            <a href="#contact">Contact Me</a>
        </div>
    </header>
    <main>
        <div class="inner-wrapper">
            <!-- STOP! Don't add anything more to the base template -->
            <!-- the content here is loaded through the homepage template -->
            {% block content %}
            {{ content }}
            {% endblock %}
        </div>
    </main>

    {% include '_footer.html' %}

</body>

</html>