body {
    font-size: 16px;
    background-color: #dedede;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
    color: rgb(12, 60, 118);
}

h2 {
    font-size: 1.6em;
    color: rgb(83, 85, 155);
}

h3 {
    font-size: 1.4em;
    color: rgb(89, 80, 94);
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    color: rgb(64, 64, 64);
}

a {
    text-decoration: none;
    color:rgb(6, 27, 123);
    padding: 1rem;

}

a:hover {
    color:cadetblue;
    background-color: #484a6a;
    border-radius: 20%;
}


.inner-wrapper {
    width: 70%;
    margin: 0 auto;
}

header,
footer {
    background-color: #676fdb92;
    padding: 2em 0;
    flex-direction: row;
    align-items: center;
    text-align: center;
    
}


img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

/** Move footer to bottom of View port & make it take up the width**/
footer {
        max-height: 5em ;
        bottom: 0;
        width: 100vw;
        text-align: center;
}

.hero {
    text-align: center;
    background: #dedede;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;


}



main {
    margin-bottom: 2em;
    align-items: center;
    text-align: center;
}