body {
    font-size: 16px;
    background-color: #dedede;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    /* margin: 1em 0 1.5em 0; */
    color: rgb(138, 177, 225);
}

h2 {
    font-size: 1.6em;
    color: rgb(184, 170, 240);
}

h3 {
    font-size: 1.4em;
    color: rgb(89, 80, 94);
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
    color: rgb(129, 128, 128);
}

.inner-wrapper {
    width: 70%;
    margin: 0 auto;
}

header,
footer {
    background-color: #2a2f7b;
    padding: 2em 0;
    
}

.hero {
    text-align: center;
    background: #f9f7f7;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;


}



main {
    margin-bottom: 2em;
}